extend ../../layouts/index.pug

block content
  h1 Users list

  h4 Search
  form(action="/users/search", method="GET")
    input(type="text" name="name" placeholder="Search user by name" value=searchValue)
    button(type="submit") Search

  ul
    each user in users
      li
        .card
          .card-header= user.name
          .card-body
            a(href='/users/' + user.id) View &nbsp;
            a(href='/users/' + user.id + '/edit') Edit &nbsp;
            a(href='/users/' + user.id + '/delete') Delete &nbsp;